{% extends 'main/layout.html' %}
{% block content %}

<div>
    <h3>Academic Info</h3>
    <div class="varsity">
        <table class="var-results">
            <tr>
                <td><b>Level 1 Modules</b></td>
                <td><b>Results</b></td>
                <td><b>Level 2 Modules</b></td>
                <td><b>Results</b></td>
            </tr>
            <tr>
                <td>Programming Fundamentals</td>
                <td>1</td>
                <td>Object Oriented Programming</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Calculus</td>
                <td>2.1</td>
                <td>Discrete Mathematics</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Information Digital Skills</td>
                <td>2.1</td>
                <td>Software Engineering</td>
                <td>2.1</td>
            </tr>
            <tr>
                <td>French</td>
                <td>2.1</td>
                <td>A.I and Expert Systems</td>
                <td>2.1</td>
            </tr>
            <tr>
                <td>Statistics</td>
                <td>3</td>
                <td>French(Advanced)</td>
                <td>2.2</td>
            </tr>
            <tr>
                <td>Linear Algebra</td>
                <td>3</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Level 1.2</b></td>
                <td><b>Results</b></td>
                <td><b>Level 2.2</b></td>
                <td><b>Results</b></td>
            </tr>
            <tr>
                <td>Web Design and Mobile Comp.</td>
                <td>2.1</td>
                <td>Computer Arch. and Op. Systems</td>
                <td>1</td>
            </tr>
            <tr>
                <td>French(Intermediate)</td>
                <td>2.1</td>
                <td>Data Comms and Comp. Networks</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Electrical & Electronic Principles</td>
                <td>2.2</td>
                <td>Physical Computing and IoT</td>
                <td><i>pending</i></td>
            </tr>
            <tr>
                <td>Database Design and Development</td>
                <td>2.2</td>
                <td>Machine Learnig</td>
                <td><i>pending</i></td>
            </tr>
            <tr>
                <td>SDLS</td>
                <td>2.2</td>
                <td>Data Structures and Algorithms</td>
                <td><i>pending</i></td>
            </tr>
        </table>
    </div>
    <div class="results">
        <div>
            <h5>O Level : St Augustine's High Shool (Penhalonga)</h5>
            <table>
                <tr>
                    <td>Mathematics</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Physics</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Chemistry</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Biology</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Computer Science</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Geography</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Agriculture</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Heritage Studies</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Principles of Accounts</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>Shona Language</td>
                    <td>B</td>
                </tr>
            </table>
        </div>
        <div>
            <h5>A Level : St Augustine's High School (Penhalonga)</h5>
            <table>
                <tr>
                    <td>Pure Mathematics</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Physics</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>Computer Science</td>
                    <td>A</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}