{% extends 'main/layout.html' %}
{% block content %}

    <div>
        <h3>Contact Info</h3>
        <div class="contact_info">
            <ul>
                {% load static %}
                <a href="mailto:munacips@gmail.com"><object data="{% static 'svg/message.svg' %}" type="image/svg+xml" width="20" height="20"></object>Email: munacips@gmail.com</a><br><br>
                <a href="https://github.com/munacips"><object data="{% static 'svg/github.svg' %}" type="image/svg+xml" width="20" height="20"></object> @munacips</a><br><br>
                <a href="https://linkedin.com/in/munashe-chipanga-184a471a8"><object data="{% static 'svg/linkedin.svg' %}" type="image/svg+xml" width="20" height="20"></object> Munashe Chipanga</a><br><br>
                <a href="https://x.com/munacips"><object data="{% static 'svg/x-twitter.svg' %}" type="image/svg+xml" width="20" height="20"></object> @munacips</a><br><br>
                <a href="https://facebook/munashe.chipanga.3"><object data="{% static 'svg/facebook.svg' %}" type="image/svg+xml" width="20" height="20"></object> Munashe Chipanga</a><br><br>
                <a href="https://instagram/munacips"><object data="{% static 'svg/instagram.svg' %}" type="image/svg+xml" width="20" height="20"></object> @munacips</a><br><br>
                <a href="https://wa.me/+263781199756"><object data="{% static 'svg/whatsapp.svg' %}" type="image/svg+xml" width="20" height="20"></object> +263781199756</a><br><br>
                <a href="htpps://wa.me/+263718549964"><object data="{% static 'svg/whatsapp.svg' %}" type="image/svg+xml" width="20" height="20"></object> +263718549964</a><br><br>
                Cellphone number 1 : <a href="tel:+263781199756">+263781199756</a><br>
                Cellphone number 2 : <a href="tel:+263718549964">+263718549964</a><br>
            </ul>
        </div>
    </div>

{% endblock %}