{% extends 'main/layout.html' %}
{% block content %}

    <div>
        <h3>Contact Info</h3>
        <div class="contact_info">
            <ul>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a> Munashe Chipanga <br>
                <a href=""><i class="fa fa-github" aria-hidden="true"></i></a> @munacips <br>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> Munashe Chipanga <br>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> @munacips <br>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a> @munacips <br>
                <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a> +236781199756 <br>
                <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a> +236718549964 <br>
                <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a> +236781199756 <br>
                <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a> +236718549964 <br>
                <a href=""><i class="bi bi-alarm"></i>hi</a>
            </ul>
        </div>
    </div>

{% endblock %}