{% extends 'main/layout.html' %}
{% block content %}

    <div>
        <h3>Contact Info</h3>
        <div class="contact_info">
            <ul>
                <a href=""><i class="bi bi-mail" aria-hidden="true"></i></a> munacips@gmail.com <br>
                <a href=""><i class="bi bi-linkedin" aria-hidden="true"></i></a> Munashe Chipanga <br>
                <a href=""><i class="fa fa-github" aria-hidden="true"></i></a> @munacips <br>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> Munashe Chipanga <br>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> @munacips <br>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a> @munacips <br>
                <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a> +236781199756 <br>
                <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a> +236718549964 <br>
                <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a> +236781199756 <br>
                <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a> +236718549964 <br>
                <a href=""><i class="bi bi-alarm"></i> &#xF234; &#xF235; hi</a> 
            </ul>
            <h4>Send an email</h4>
        </div>
    </div>

{% endblock %}