{% extends 'main/layout.html' %}
{% block content %}
    <section class="pic">
        {% load static %}
        <img src="{% static 'img/code.jpg' %}" alt="">
    </section><br>
    <section class="info">
        <div class="info-pic">
            <img src="{% static 'img/me.jpg' %}" alt="">
        </div>
        <div class="info-info">
            "Hello, I'm Munashe Chipanga, a 21-year-old tech enthusiast and computer science student at the University of Zimbabwe. When I'm not buried in code or binge-watching tutorials, you can find me daydreaming about the next big innovation or debating the ethics of AI with anyone who will listen. As a second-year student, I'm still learning, but I'm determined to make my mark in the tech world. With a passion for problem-solving and a knack for creative thinking, I'm always looking for new challenges and opportunities to grow. Welcome to my portfolio, where I share my projects, musings, and occasional rants about the latest tech trends. Let's connect and see what we can build together!"
            <br><br>
            <a href="" class="btn">Contact Me</a>
        </div>
    </section>
{% endblock %}