<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Munashe Chipanga</title>

   {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    
</head>
<body>
   <section class="name">
       <h1><a href="/" class="logo">MUNASHE<span style="color: dodgerblue;">CHIPANGA</span><span>.COM</span></a></h1>
   </section>
   <section class="links">
       <nav class="desk">
           <ul>
               <li onclick="location.href='/'"><a href="/">HOME</a></li>
               <li onclick="location.href='/projects'"><a href="/projects">PROJECTS</a></li>
               <li onclick="location.href='/academic_info'"><a href="/academic_info">ACADEMIC INFO</a></li>
               <li onclick="location.href='/contact_info'"><a href="/contact_info">CONTACT INFO</a></li>
               <li onclick="location.href='/blog'"><a href="/blog">BLOG</a></li>
           </ul>
       </nav>
       <nav class="phone">
        <ul>
            <li onclick="location.href='/projects'"><a href="/projects">PROJECTS</a></li>
            <li onclick="location.href='/academic_info'"><a href="/academic_info">ACADEMIC INFO</a></li>
            <li onclick="location.href='/contact_info'"><a href="/contact_info">CONTACT INFO</a></li>
            <li onclick="location.href='/blog'"><a href="/blog">BLOG</a></li>
        </ul>
    </nav>
   </section>
   <section class="main">
        {%block content%}
        {%endblock%}
   </section>
   {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>